<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit UserName</title>
</head>
<body>
    <h2>Editing UserName : <%=user.username%></h2>
    <h4>Email ID : <%= user.email %></h4>
    <!-- method-override is used to send patch request instead of compulsory req of post or get by forms -->
    <!-- ?_method=PATCH : is used to send the patch request through form -->
    <form method="post" action="/users/<%=user.id%>?_method=PATCH">
        <h4>Enter the Password : <input type="password" name="password" placeholder="Enter your Password..."></h4>
        <textarea name="username" ><%=user.username%></textarea>
        <br>
        <br>
        <button>Edit</button>
    </form>
</body>
</html>